In [ ]:
''' FUNCTION: The syntax for defining a function in Python is def function_name(arguments):. The def keyword is used to
    declare a function, followed by the function name and any arguments in parentheses. The code in the function 
    is indented and is executed when the function is called.
    
    PAREAMETER PASSING:  Parameter passing refers to the process of sending data to a function as input. The function 
    can then perform some operation on the data and return a result. The data can be passed as positional arguments,
    keyword arguments, or a combination of both.
    
    PURPOSE OF ITERATORS IN PYTHON:  Iterators in Python allow for efficient access to elements in a sequence one at a 
    time. This allows for the creation of efficient and memory-saving loops that can process large amounts of data.
    Examples of sequences in Python include lists, tuples, and dictionaries.'''

In [1]:
l=[45,75.56,'panakj']

In [2]:
l

[45, 75.56, 'panakj']

In [3]:
type(l)  # this is the already defined function that find out the datq type

list

In [4]:
def test():

SyntaxError: incomplete input (3412650027.py, line 1)

In [5]:
def test1(): 
    pass             # pass is a keyword

In [6]:
def test2():
    print("this is my first function")

In [7]:
test2()

this is my first function

In [8]:
test2() + "pankaj"           # In NoneType  we can't add string

this is my first function

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [9]:
type(test2())

this is my first function

NoneType

In [10]:
str(test2()) + "pankaj"

this is my first function

'Nonepankaj'

In [11]:
def test3(): 
    return "this is my first return"

In [12]:
test3()

'this is my first return'

In [13]:
type(test3())

str

In [14]:
test3() + ' pankaj'

'this is my first return pankaj'

In [17]:
## note: so in the function print give the NoneType and return give the same data type that use

In [18]:
def test4(): 
    return 3,3.5,"panakj", [4,34,'s']

In [19]:
test4()

(3, 3.5, 'panakj', [4, 34, 's'])

In [20]:
type(test4())

tuple

In [21]:
a,b,c,d=test4()

In [22]:
a

3

In [23]:
b

3.5

In [24]:
c

'panakj'

In [25]:
d

[4, 34, 's']

In [26]:
def test5():
    a=3+5/6
    return a

In [28]:
test5()

3.8333333333333335

In [30]:
def test5(a,b,c):
    d=a+b/6
    return d

In [31]:
test5()

TypeError: test5() missing 3 required positional arguments: 'a', 'b', and 'c'

In [32]:
test5(3,65,6)

13.833333333333334

In [33]:
test5(3,45)

TypeError: test5() missing 1 required positional argument: 'c'

In [34]:
test5(3,6,6,3)

TypeError: test5() takes 3 positional arguments but 4 were given

In [35]:
def test6(a,b): 
    return a+b

In [36]:
test6(3,6)

9

In [38]:
test6('pankaj', ' kumawat')

'pankaj kumawat'

In [40]:
test6([4,6,'aal'] , [34.6, 5, True])    # concatinat

[4, 6, 'aal', 34.6, 5, True]

In [42]:
test6(343, 'panakj')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [48]:
L1=[3,6,7,8,'Versa', 'Arya', [4,56,6,'sd',True],3.3,63]  # make a list that contains only int and flaot of L1 without fn.

In [90]:
L=[]
for i in L1: 
    if type(i)==int or type(i)==float: 
        L.append(i)

In [91]:
L

[3, 6, 7, 8, 3.3, 63]

In [92]:
def test7(a): 
    l1=[]
    for i in L1: 
        if type(i)==int or type(i)==float: 
            l1.append(i)
    return l1

In [93]:
test7(L1)   # make a list that contains only int and flaot of L1 with fn.

[3, 6, 7, 8, 3.3, 63]

In [70]:
L1  # now we want to find out the numereical list from the list in the list

[3, 6, 7, 8, 'Versa', 'Arya', [4, 56, 6, 'sd', True], 3.3, 63]

In [101]:
def test8(a):
    l2=[]
    for i in L1: 
        if type(i)==list: 
            for j in i: 
                if type(j)==int or type(j)==float:
                    l2.append(j)
    return l2

In [104]:
test8(L1)

[4, 56, 6]

In [105]:
L1  # now we want make a numerical list in present L1 all the numericals vlaue

[3, 6, 7, 8, 'Versa', 'Arya', [4, 56, 6, 'sd', True], 3.3, 63]

In [138]:
def test9(a):
    """ This is my function to extract all numerical data from the list"""
    l2=[]
    for i in L1: 
        if type(i)==list: 
            for j in i: 
                if type(j)==int or type(j)==float: 
                    l2.append(j)
        else: 
            if type(i)==int or type(i)==float: 
                l2.append(i)
    return l2

In [137]:
test9(L1)  ## Docstring: This is my function to extract all numerical data from the list

[3, 6, 7, 8, 4, 56, 6, 3.3, 63]

In [140]:
def test10(a,b): 
    return a,b

In [141]:
test10(3,6)

(3, 6)

In [143]:
def test11(*args):       # n numbers of input in the function
    return args

In [144]:
test11(3,5,6,7,34,45)

(3, 5, 6, 7, 34, 45)

In [145]:
test11(34,5565,34.45,"pankaj", True, [34,56,4])

(34, 5565, 34.45, 'pankaj', True, [34, 56, 4])

In [146]:
type(test11())

tuple

In [147]:
def test12(*pankaj):   ## *acc.toyouname
    return pankaj

In [148]:
test12(45,56,37)

(45, 56, 37)

In [150]:
def test13(*args,a): 
    return args,a

In [151]:
test13(454,5,6,767,7)

TypeError: test13() missing 1 required keyword-only argument: 'a'

In [152]:
test13(45,5,25,44,a=9999)

((45, 5, 25, 44), 9999)

In [155]:
def test14(a=12,b=344,c,d): 
    return a,b,c,d

SyntaxError: non-default argument follows default argument (348814942.py, line 1)

In [158]:
def test14(c,d,a=12,b=344): 
    return a,b,c,d

In [159]:
test14(3,6)

(12, 344, 3, 6)

In [162]:
test14(3,6,a=21,b=443)   # we can change the value a and b

(21, 443, 3, 6)

In [163]:
def test15(**kvargs):   # if we want to make dictionary input key value pair
    return kvargs

In [169]:
test15(n='pankaj',a=19,c="Garib",d=[45,5,66,])

{'n': 'pankaj', 'a': 19, 'c': 'Garib', 'd': [45, 5, 66]}

In [167]:
type(test15())

dict