In [6]:
data={'name': 'pankaj',
 'email_id': 'pankaj@gmail.com',
 'pnone_num': 8347789233,
 'subject': ['data science', 'Big data', 'Data analytic', 'machine learning']}

In [7]:
import json          # JavaScript Object Notation

In [8]:
with open('data.json', 'w') as f: 
    json.dump(data, f)                # dump is use to perform a write operation

In [9]:
with open('data.json', 'r') as f: 
    detail=json.load(f)               # load is use to perform for read operation

In [10]:
detail

{'name': 'pankaj',
 'email_id': 'pankaj@gmail.com',
 'pnone_num': 8347789233,
 'subject': ['data science', 'Big data', 'Data analytic', 'machine learning']}

In [11]:
detail['subject']

['data science', 'Big data', 'Data analytic', 'machine learning']

In [12]:
detail['subject'][3]

'machine learning'

In [13]:
import csv             # comma seperated values

In [14]:
data1=[['name', 'email_id', 'phone_number'],
       ['pankaj', 'pankaj@123', 2387485723], 
       ['nitesh', 'nitesh@144', 3445662334]
]

In [15]:
with open('data1.csv', 'w') as f: 
    writer=csv.writer(f)
    
    for i in data1: 
        writer.writerow(i)
        
# in file: 

# 	name	email_id	phone_number
# 1	pankaj	pankaj@123	2387485723
# 2	nitesh	nitesh@144	3445662334

In [16]:
with open('data1.csv', 'r') as f: 
    read_data=csv.reader(f)
    
    for i in data1:
        print(i)

['name', 'email_id', 'phone_number']
['pankaj', 'pankaj@123', 2387485723]
['nitesh', 'nitesh@144', 3445662334]

In [17]:
with open('data1.csv', 'r') as f: 
    read_data=csv.reader(f)
    
    for i in read_data:
        print(i)

['name', 'email_id', 'phone_number']
['pankaj', 'pankaj@123', '2387485723']
['nitesh', 'nitesh@144', '3445662334']

In [18]:
with open('text1.bin', 'wb') as f: 
    f.write(b"\x01\x02\x03\x078976")
    
    
# in text1.bin file: 

# 8976

In [19]:
with open('text1.bin', 'rb') as f: 
    print(f.read())

b'\x01\x02\x03\x078976'