#### Covariance and correlation

In [18]:
import seaborn as sns

In [19]:
df=sns.load_dataset('healthexp')

In [20]:
df.head()

   Year        Country  Spending_USD  Life_Expectancy
0  1970        Germany       252.311             70.6
1  1970         France       192.143             72.2
2  1970  Great Britain       123.993             71.9
3  1970          Japan       150.437             72.0
4  1970            USA       326.961             70.9

#### Covariance

In [28]:
df.cov(numeric_only=True)    # we can't find out the covariance of non-numerical value(column Country)

                         Year  Spending_USD  Life_Expectancy
Year               201.098848  2.571883e+04        41.915454
Spending_USD     25718.827373  4.817761e+06      4166.800912
Life_Expectancy     41.915454  4.166801e+03        10.733902

#### Pearson correlation cofficient

In [29]:
df.corr(method='pearson', numeric_only=True)   #  cawen't find out the covariance of non-numerical value(column Country)

                     Year  Spending_USD  Life_Expectancy
Year             1.000000      0.826273         0.902175
Spending_USD     0.826273      1.000000         0.579430
Life_Expectancy  0.902175      0.579430         1.000000

In [31]:
df.corr(numeric_only=True)         # by default pearson

                     Year  Spending_USD  Life_Expectancy
Year             1.000000      0.826273         0.902175
Spending_USD     0.826273      1.000000         0.579430
Life_Expectancy  0.902175      0.579430         1.000000

#### Spearman Rank Correlation

In [30]:
df.corr(method='spearman', numeric_only=True)

                     Year  Spending_USD  Life_Expectancy
Year             1.000000      0.931598         0.896117
Spending_USD     0.931598      1.000000         0.747407
Life_Expectancy  0.896117      0.747407         1.000000

In [33]:
df1=sns.load_dataset('flights')
df1.head()

   year month  passengers
0  1949   Jan         112
1  1949   Feb         118
2  1949   Mar         132
3  1949   Apr         129
4  1949   May         121

In [35]:
df1.cov(numeric_only=True)

                  year    passengers
year         12.000000    383.087413
passengers  383.087413  14391.917201

In [47]:
X=[2,4,6,8,10]
Y=[3,5,7,9,11]

In [48]:
import numpy as np

In [49]:
np.cov(X,Y)

array([[10., 10.],
       [10., 10.]])

In [ ]:
#cov(X,Y)=[ cov(X,X)  cov(X,Y) 
 #          cov(Y,X)  cov(Y,Y)   ]