In [73]:
import pandas as pd

In [74]:
df=pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [75]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [76]:
df['Name']

0                                Braund, Mr. Owen Harris
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                               Allen, Mr. William Henry
                             ...
886                                Montvila, Rev. Juozas
887                         Graham, Miss. Margaret Edith
888             Johnston, Miss. Catherine Helen "Carrie"
889                                Behr, Mr. Karl Howell
890                                  Dooley, Mr. Patrick
Name: Name, Length: 891, dtype: object

In [77]:
df['Name'][0]

'Braund, Mr. Owen Harris'

In [78]:
s=df['Name'][0:10]

In [79]:
s

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

In [80]:
type(s)

pandas.core.series.Series

In [81]:
s[1]

'Cumings, Mrs. John Bradley (Florence Briggs Thayer)'

In [82]:
## i want to change the index
pd.Series(s,index=['a','b','c','d','e','f','g','h','i','j'])

a    NaN
b    NaN
c    NaN
d    NaN
e    NaN
f    NaN
g    NaN
h    NaN
i    NaN
j    NaN
Name: Name, dtype: object

In [83]:
pd.Series(data=s,index=['a','b','c','d','e','f','g','h','i','j'])

a    NaN
b    NaN
c    NaN
d    NaN
e    NaN
f    NaN
g    NaN
h    NaN
i    NaN
j    NaN
Name: Name, dtype: object

In [84]:
s1=pd.Series(list(s),index=['a','b','c','d','e','f','g','h','i','j'])

In [85]:
type(s1)

pandas.core.series.Series

In [86]:
s1

a                              Braund, Mr. Owen Harris
b    Cumings, Mrs. John Bradley (Florence Briggs Th...
c                               Heikkinen, Miss. Laina
d         Futrelle, Mrs. Jacques Heath (Lily May Peel)
e                             Allen, Mr. William Henry
f                                     Moran, Mr. James
g                              McCarthy, Mr. Timothy J
h                       Palsson, Master. Gosta Leonard
i    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
j                  Nasser, Mrs. Nicholas (Adele Achem)
dtype: object

In [87]:
s1[0]         # it also understand internal indexes

C:\Users\91830\AppData\Local\Temp\ipykernel_58588\3494766508.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s1[0]         # it also understand internal indexes

'Braund, Mr. Owen Harris'

In [88]:
s1.iloc[0]

'Braund, Mr. Owen Harris'

In [89]:
s1['a']         # named index

'Braund, Mr. Owen Harris'

In [90]:
s1[0:4]

a                              Braund, Mr. Owen Harris
b    Cumings, Mrs. John Bradley (Florence Briggs Th...
c                               Heikkinen, Miss. Laina
d         Futrelle, Mrs. Jacques Heath (Lily May Peel)
dtype: object

In [91]:
s1.iloc[0:4]

a                              Braund, Mr. Owen Harris
b    Cumings, Mrs. John Bradley (Florence Briggs Th...
c                               Heikkinen, Miss. Laina
d         Futrelle, Mrs. Jacques Heath (Lily May Peel)
dtype: object

In [92]:
s1['a':'e']

a                              Braund, Mr. Owen Harris
b    Cumings, Mrs. John Bradley (Florence Briggs Th...
c                               Heikkinen, Miss. Laina
d         Futrelle, Mrs. Jacques Heath (Lily May Peel)
e                             Allen, Mr. William Henry
dtype: object

In [93]:
s2=pd.Series(list(s),index=[6,7,8,9,9,8,76,6,6,5])

In [94]:
s2

6                               Braund, Mr. Owen Harris
7     Cumings, Mrs. John Bradley (Florence Briggs Th...
8                                Heikkinen, Miss. Laina
9          Futrelle, Mrs. Jacques Heath (Lily May Peel)
9                              Allen, Mr. William Henry
8                                      Moran, Mr. James
76                              McCarthy, Mr. Timothy J
6                        Palsson, Master. Gosta Leonard
6     Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
5                   Nasser, Mrs. Nicholas (Adele Achem)
dtype: object

In [96]:
s2.iloc[0]

'Braund, Mr. Owen Harris'

In [98]:
# give error : s2[0]

In [99]:
s2[6]

6                              Braund, Mr. Owen Harris
6                       Palsson, Master. Gosta Leonard
6    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
dtype: object

In [100]:
s3=pd.Series([34,4,5,245,14,1], index=[2,34,134,1,4,1])
s4=pd.Series([54,6,2,6,25,6245], index=[4,52,45,245,23,5])

In [101]:
pd.concat([s3,s4], ignore_index=True)

0       34
1        4
2        5
3      245
4       14
5        1
6       54
7        6
8        2
9        6
10      25
11    6245
dtype: int64

In [102]:
s5=pd.concat([s3,s4])

In [103]:
s5

2        34
34        4
134       5
1       245
4        14
1         1
4        54
52        6
45        2
245       6
23       25
5      6245
dtype: int64

In [105]:
# s5[0]   # give error

In [106]:
s5[1]

1    245
1      1
dtype: int64

In [107]:
s5.iloc[0]

34

In [109]:
# pd.concat([s5, 'Pankaj'])       # error because s5==series, and 'pankaj'= string

In [111]:
s6=pd.Series([52,452,56,2562])

In [112]:
pd.concat([s5,s6])

2        34
34        4
134       5
1       245
4        14
1         1
4        54
52        6
45        2
245       6
23       25
5      6245
0        52
1       452
2        56
3      2562
dtype: int64