##### Assignment 01: <br>
Load the Iris dataset into a pandas DataFrame<br>
Find the mean and median of the 'sepal_length' column.<br>
1.Calculate the 75th percentile of the 'petal_width' column for each species in the Iris dataset.<br>
2.Create a new column in the Iris DataFrame called 'sepal_area', which is the product of 'sepal_length' and 'sepal_width'.<br>
3.Remove all rows in the Iris DataFrame where 'petal_length' is greater than twice the standard deviation of 'petal_length' for that species.<br>
4.Normalize all numerical columns in the Iris DataFrame (except the 'species' column) using Min-Max scaling.<br>
5.Find the three most common combinations of 'sepal_length', 'sepal_width', and 'petal_length' in the Iris dataset.<br>
6.Group the Iris DataFrame by 'species' and find the row with the highest 'sepal_width' for each group.<br>
7.Replace all negative values in the 'petal_width' column of the Iris DataFrame with the mean of the non-negative values in that column.<br>
8.Calculate the correlation matrix for the 'sepal_length', 'sepal_width', 'petal_length', and 'petal_width' columns in the Iris dataset and find the feature with the highest absolute correlation with 'petal_width'.

In [1]:
import seaborn as sns

In [3]:
df=sns.load_dataset('iris')

In [4]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [7]:
import numpy as np

In [9]:
# mean of the sepal_lenght column
df['sepal_length'].mean()

5.843333333333334

In [12]:
#median of the sepal_length column
np.median(df['sepal_length'])

5.8

In [14]:
df['petal_width']

0      0.2
1      0.2
2      0.2
3      0.2
4      0.2
      ...
145    2.3
146    1.9
147    2.0
148    2.3
149    1.8
Name: petal_width, Length: 150, dtype: float64

In [ ]:
np.